@import url('https://fonts.googleapis.com/css2?family=Mali:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mali", sans-serif;
}
/* General Styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header .logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    margin: 0;
}
.header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 10px 0 0;
}
.header nav ul li {
    margin: 0 10px;
}
.header nav ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #555;
}
.header nav ul li a:hover {
    color: #000;
}
/* Banner Style */
.banner {
    background-image: url('photo/BN3.jpg');
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
}

.banner h1 {
    font-size: 32px;
    font-weight: normal;
    margin: 0;
    color: #fff; 
}
.banner p {
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
}
.tab-content {
    margin-top: 20px;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}
.nav-tabs .nav-link.active {
    background-color: #333;
    color: #fff;
    border: none;
}
.nav-tabs .nav-link {
    color: #666;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.nav-tabs .nav-link:hover {
    border-color: #ddd;
}
.nav-pills .nav-link.active {
    background-color: #333;
    color: #fff;
}
.nav-pills .nav-link {
    color: #666;
    border-radius: 3px;
}